﻿@model ErasmusWedding.net.Controllers.GuestModel

@{
    ViewData["Title"] = "Erasmus Wedding";
}

<section class="the-heart-groomsman-section the-heart-bridemaid section-padding" id="the-heart-bridemaid">
    <div class="container">
        <div class="the-heart-section-heading">
            <h4>Our</h4>
            <h2>Bridesmaids</h2>
        </div>
        <div class="the-heart-all-groomsman clear-both">
            <div>
                <div class="the-heart-single-groomsman">
                    <a class="the-heart-popup" href="http://via.placeholder.com/370x325">
                        <figure>
                            <img src="~/images/bridesmaid-1.jpg" alt="Carryn Smithdorf" title="Carryn">
                        </figure>
                    </a>
                    <div class="the-heart-groomsman-bio">
                        <h3>Carryn</h3>
                        <h5>Maid of Honour</h5>
                    </div> <!-- .the-heart-groomsman-bio END -->
                </div> <!-- .the-heart-single-groomsman END -->
                <div class="the-heart-single-groomsman">
                    <a class="the-heart-popup" href="http://via.placeholder.com/370x325">
                        <figure>
                            <img src="~/images/bridesmaid-2.jpg" alt="Johanita Binns" title="Johanita">
                        </figure>
                    </a>
                    <div class="the-heart-groomsman-bio">
                        <h3>Johanita</h3>
                        <h5>Bridesmaid</h5>
                    </div>
                </div>
            </div>
        </div> <!-- .the-heart-all-groomsman END -->
    </div>
</section> <!-- .the-heart-groomsman-section END -->
<section class="the-heart-groomsman-section section-padding" id="the-heart-groomsman">
    <div class="container">
        <div class="the-heart-section-heading">
            <h4>Our</h4>
            <h2>Groomsmen</h2>
        </div>
        <div class="the-heart-all-groomsman clear-both">
            <div>
                <div class="the-heart-single-groomsman">
                    <a class="the-heart-popup" href="http://via.placeholder.com/370x325">
                        <figure>
                            <img src="~/images/groomsman-1.jpg" alt="Paul" title="Paul">
                        </figure>
                    </a>
                    <div class="the-heart-groomsman-bio">
                        <h3>Paul</h3>
                        <h5>Bestman</h5>
                    </div> <!-- .the-heart-groomsman-bio END -->
                </div> <!-- .the-heart-single-groomsman END -->
                <div class="the-heart-single-groomsman">
                    <a class="the-heart-popup" href="http://via.placeholder.com/370x325">
                        <figure>
                            <img src="~/images/groomsman-2.jpg" alt="Petrus" title="Petrus">
                        </figure>
                    </a>
                    <div class="the-heart-groomsman-bio">
                        <h3>Petrus</h3>
                        <h5>Groomsman</h5>
                    </div> <!-- .the-heart-groomsman-bio END -->
                </div> <!-- .the-heart-single-groomsman END -->
            </div>
        </div> 
    </div>
</section> 
<section class="the-heart-wedding-jurnal-section section-padding" id="the-heart-wedding-jurnal">
    <div class="container">
        <div class="the-heart-section-heading">
            <h1>Location</h1>
        </div> <!-- .the-heart-section-heading END -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d853538.7735752659!2d18.76860208611941!3d-33.31526413209347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1c34a440c4cfdceb%3A0x2a230229efd2cd7e!2sTogryersvlei+Wedding+%2F+Conference+Venue+%26+Guest+House%2C+Jacobs+Bay%2C+West+Coast!5e0!3m2!1sen!2sza!4v1519928185776" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">Abalone</h5>
                        <h6 style="margin-top:0; margin-bottom:0">4.9km</h6>
                        <p>Malinda - 0823953616</p>
                        <div><a target="_blank" href="http://www.jacobsbaai.co.za">www.abalonejacobsbaai.co.za</a></div>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">Klokkiebosch</h5>
                        <h6 style="margin-top:0; margin-bottom:0">5.6km</h6>
                        <p>Wessel - 0827674312</p>
                        <div><a href="mailto:info@klokkiebosch.co.za">info@klokkiebosch.co.za</a></div>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">Fijnbosch Gastehuis</h5>
                        <h6 style="margin-top:0; margin-bottom:0">5.2km</h6>
                        <p>Paula - 0829250468</p>
                        <div><a href="mailto:fijnbosch@mweb.co.za">fijnbosch@mweb.co.za</a></div>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">Baviana Lodge</h5>
                        <h6 style="margin-top:0; margin-bottom:0">5.4km</h6>
                        <div><a href="mailto:bavianabeachlodge@gmail.com">bavianabeachlodge@gmail.com</a></div>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">All View</h5>
                        <h6 style="margin-top:0; margin-bottom:0">5.6km</h6>
                        <p>Charl - 0826466053</p>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">Die Herberg</h5>
                        <h6 style="margin-top:0; margin-bottom:0">4.7km</h6>
                        <p>Sanet - 0836336262</p>
                        <div><a href="http://www.jacobsbaai.com">www.jacobsbaai.com</a></div>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">Whispering Whale</h5>
                        <h6 style="margin-top:0; margin-bottom:0">5.1km</h6>
                        <p>Lientjie - 0646158954</p>
                        <div><a href="mailto:info@whisperingwhale.co.za">info@whisperingwhale.co.za</a></div>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">Weskus Plek</h5>
                        <h6 style="margin-top:0; margin-bottom:0">4.5km</h6>
                        <p>Anton - 0227153333</p>
                        <div><a href="mailto:info@weskusplek.co.za">info@weskusplek.co.za</a></div>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">Weskus Huis</h5>
                        <h6 style="margin-top:0; margin-bottom:0">4.9km</h6>
                        <p>Frik - 0846666616</p>
                        <div><a href="mailto:weskuishuis@telkomsa.net">weskushuis@telkomsa.net</a></div>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <!-- .the-heart-single-journal END -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="the-heart-single-journal">
                    <div class="the-heart-wedding-jurnal-footer">
                        <h5 style="margin-top:0; margin-bottom:0">Alternatively Visit</h5>
                        <div><a href="wwww.lekkeslaap.co.za">wwww.lekkeslaap.co.za</a></div>
                        <div><a href="wwww.jacobsbaaiaccommodation.co.za">wwww.jacobsbaaiaccommodation.co.za</a></div>
                    </div> <!-- .the-heart-wedding-jurnal-footer END -->
                </div> <!-- .the-heart-single-journal END -->
            </div>
        </div>
    </div>
</section>  

<section class="the-heart-you-are-attending-section section-padding container" id="the-heart-attending">
    <div class="container">
        @if (!string.IsNullOrEmpty(Model.PostToken))
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="hidden" name="PostToken" id="PostToken" value="@Model.PostToken" />
                    <div class="the-heart-attending-content" style="height:555px">
                        <div class="the-heart-attending-content-inner">
                            <div class="the-heart-attending-content-inner-bottom">
                                <h2>Thank You!</h2>
                                <p>We look forward to sharing our special day with you.</p>
                            </div>
                        </div> <!-- .the-heart-attending-content-inner END -->
                    </div> <!-- .the-heart-attending-content END -->
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="the-heart-attending-form">
                        <form asp-action="RsvpGuest" method="post">
                            <label for="name">Name</label>
                            <input type="text" id="Name" name="Name">
                            <label for="name">Email</label>
                            <input type="text" name="Email" id="Email">
                            <label for="guests">Guests</label>
                            <select name="ExtraGuests" id="ExtraGuests">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <label for="songname">Song request</label>
                            <input type="text" name="SongTitle" id="SongTitle">
                            @if (Model.Guest != null)
                            {
                                <input type="hidden" name="GuestKey" id="GuestKey" value="@Model.Guest.GuestKey" />
                                <input type="hidden" id="InviteSent" name="InviteSent" value="@Model.Guest.InviteSent.ToString()" />
                                <input type="hidden" id="InviteDate" name="InviteDate" value="@Model.Guest.InviteDate" />
}
                            else
                            {
                                <input type="hidden" name="GuestKey" id="GuestKey" />
                            }
                            <input type="submit" id="rsvp_submit" name="rsvp_submit" value="RSVP">
                        </form>
                    </div> <!-- .the-heart-attending-form END -->
                    <div class="contact-alert-message">
                        <div id='mail_success' class='success'><i class="fa fa-check-circle"></i> Your message has been sent successfully.</div>
                        <div id='mail_fail' class='error'><i class="fa fa-exclamation-circle"></i> Sorry, error occured found, try again.</div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="the-heart-attending-content">
                        <div class="the-heart-attending-content-inner">
                            <div class="the-heart-attending-content-inner-top">
                                <h2>Candice & Fredrik</h2>
                                <h3>Getting Married</h3>
                                <div class="the-heart-floral-txt">
                                    <h3>22 September 2018</h3>
                                </div> <!-- .the-heart-floral-txt END -->
                            </div>
                            <div class="the-heart-attending-content-inner-bottom">
                                <h2>Are You Attending?</h2>
                                <p>To Ensure your attendence please fill the RSVP</p>
                                <a href="#" class="the-heart-btn simple-btn">RSVP</a>
                            </div>
                        </div> <!-- .the-heart-attending-content-inner END -->
                    </div> <!-- .the-heart-attending-content END -->
                </div>
            </div>
        }
    </div>
</section>
