﻿@model ErasmusWedding.net.Controllers.GuestModel

@{
    ViewData["Title"] = "Invite";
    Layout = "~/Views/Shared/_InviteLayout.cshtml";
    var dateStamp = DateTime.Now.Ticks.ToString();
}

<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">
    <tr>
        <td bgcolor="#ffffff" align="center">
            <a href="https://www.erasmuswedding.net/?guestKey=@Model.Guest.GuestKey"><img src="https://www.erasmuswedding.net/images/wedding_email_invite_top.png?date=@dateStamp" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 600px; background: #ffffff; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="g-img"></a>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" align="center">
            <a href="https://www.erasmuswedding.net/?guestKey=@Model.Guest.GuestKey"><img src="https://www.erasmuswedding.net/images/wedding_email_invite_middle.png?date=@dateStamp" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 600px; background: #ffffff; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="g-img"></a>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" align="center">
            <a href="https://www.erasmuswedding.net/?guestKey=@Model.Guest.GuestKey"><img src="https://www.erasmuswedding.net/images/wedding_email_invite_bottom.png?date=@dateStamp" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 600px; background: #ffffff; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="g-img"></a>
        </td>
    </tr>
</table>

