﻿@model ErasmusWedding.net.Controllers.GuestModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">Guests</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="color:#553895">
                        Guest Name
                    </th>
                    <th style="color:#553895">
                        Guest Email
                    </th>
                    <th style="color:#553895">
                        Invite Sent
                    </th>
                    <th style="color:#553895">
                        Invite Date
                    </th>
                    <th style="color:#553895">
                        Rsvp
                    </th>
                    <th style="color:#553895">
                        Rsvp Date
                    </th>
                    <th style="color:#553895">
                        Extra Guests
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th style="color:#553895">
                        &nbsp;
                    </th>
                    <th style="color:#553895">
                        &nbsp;
                    </th>
                    <th style="color:#553895">
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model.Guests)
                {
                    <tr>
                        <td style="color:#553895">
                            @g.Name
                        </td>
                        <td style="color:#553895">
                            @g.Email
                        </td>
                        <td style="color:#553895;text-align:center">                            
                            @if (g.InviteSent)
                            {
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
}
                            else
                            {
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
}
                        </td>
                        <td style="color:#553895">
                            @g.InviteDate
                        </td>
                        <td style="color:#553895;text-align:center">
                            @if (g.Rsvp)
                            {
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
}
                            else
                            {
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
}
                        </td>
                        <td style="color:#553895">
                            @g.RsvpDate
                        </td>
                        <td style="color:#553895">
                            @g.ExtraGuests
                        </td>
                        <td style="text-align:center">
                            @Html.ActionLink("Edit", "Guest", new { guestKey = g.GuestKey }, new { @class = "btn btn-primary-alt" })
                        </td>
                        <td style="text-align:center">
                            <a href="@Url.Action("SendInvite", new { guestKey = g.GuestKey })" class="btn btn-primary-alt">Send Invite</a>
                        </td>
                        <td>
                            @Html.ActionLink("Invite Link", "Invite", "Home", new { guestKey = g.GuestKey }, new { @class = "btn btn-primary-alt" })
                        </td>
                        <td>
                            @Html.ActionLink("Rsvp Link", "Index", "Home", new { guestKey = g.GuestKey }, new { @class = "btn btn-primary-alt" })
                        </td>
                    </tr>}
            </tbody>
        </table>
    </div>
    <div class="col-md-3" style="margin-bottom:10px">
        <form asp-controller="Home" asp-action="SaveGuest" method="post">
            @if (Model.Guest != null)
            {
                <div class="form-group">
                    <label for="Name">Guest Name</label>
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Guest.Name">
                </div>
                <div class="form-group">
                    <label for="Email">Guest Email</label>
                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Guest.Email">
                </div>
                <div class="form-group">
                    <label for="InviteSent">Invite Sent</label>
                    <input type="text" class="form-control" id="InviteSent" name="InviteSent" placeholder="InviteSent" readonly value="@Model.Guest.InviteSent.ToString()">
                </div>
                <div class="form-group">
                    <label for="InviteDate">Invite Date</label>
                    <input type="text" class="form-control" id="InviteDate" name="InviteDate" placeholder="Invite Date" readonly>
                </div>
                <div class="form-group">
                    <label for="Rsvp">Rsvp</label>
                    <input type="text" class="form-control" id="Rsvp" name="Rsvp" placeholder="Rsvp" readonly>
                </div>
                <div class="form-group">
                    <label for="RsvpDate">Rsvp Date</label>
                    <input type="text" class="form-control" id="RsvpDate" name="RsvpDate" placeholder="Rsvp Date" readonly>
                </div>
                <div class="form-group">
                    <label for="extraGuests">Extra Guests</label>
                    <input type="text" class="form-control" id="ExtraGuests" name="ExtraGuests" placeholder="ExtraGuests" readonly>
                </div>
                <input type="hidden" name="GuestKey" id="GuestKey" value="@Model.Guest.GuestKey" />
            }
            else
            {
            <!-- Input and Submit elements -->
            <div class="form-group">
                <label for="Name">Guest Name</label>
                <input type="text" class="form-control" id="Name" name="Name" aria-describedby="emailHelp" placeholder="Guest Name">
            </div>
            <div class="form-group">
                <label for="Email">Guest Email</label>
                <input type="text" class="form-control" id="Email" name="Email" placeholder="Guest Email">
            </div>
            <div class="form-group">
                <label for="InviteDate">Invite Date</label>
                <input type="text" class="form-control" id="InviteDate" name="InviteDate" placeholder="Invite Date" readonly>
            </div>
            <div class="form-group">
                <label for="Rsvp">Rsvp</label>
                <input type="text" class="form-control" id="Rsvp" name="Rsvp" placeholder="Rsvp" readonly>
            </div>
            <div class="form-group">
                <label for="RsvpDate">Rsvp Date</label>
                <input type="text" class="form-control" id="RsvpDate" name="RsvpDate" placeholder="Rsvp Date" readonly>
            </div>
            <div class="form-group">
                <label for="extraGuests">Extra Guests</label>
                <input type="text" class="form-control" id="ExtraGuests" name="ExtraGuests" placeholder="ExtraGuests" readonly>
            </div>
            }
            <button type="submit" class="btn btn-primary-alt">Save</button>
        </form>
    </div>
</div>