﻿@model ErasmusWedding.net.Controllers.SongModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">Songs</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="color:#553895;width:95%">
                        Song Title
                    </th>
                    <th style="color:#553895">
                        &nbsp;
                    </th>
                </tr>
            </thead>
            @foreach (var g in Model.Songs)
            {
                <tr>
                    <td>
                        @g.SongTitle
                    </td>
                    <td style="text-align:center">
                        @Html.ActionLink("Edit", "Song", new { songKey = g.SongKey }, new { @class = "btn btn-primary-alt" })
                    </td>
                </tr>}
        </table>
    </div>
    <div class="col-md-3" style="margin-bottom:10px">
        <form asp-controller="Home" asp-action="SaveSong" method="post">
            @if (Model.Song != null)
            {
                <div class="form-group">
                    <label for="SongTitle">Song Title</label>
                    <input type="text" class="form-control" id="SongTitle" name="SongTitle" value="@Model.Song.SongTitle">
                </div>
                <input type="hidden" name="SongKey" id="SongKey" value="@Model.Song.SongKey" />
            }
            else
            {
            <!-- Input and Submit elements -->
            <div class="form-group">
                <label for="SongTitle">Song Title</label>
                <input type="text" class="form-control" id="SongTitle" name="SongTitle" placeholder="SongTitle">
            </div>
            }
            <button type="submit" class="btn btn-primary-alt">Save</button>
        </form>
    </div>
</div>