﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">Guests</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-bottom:10px">
        <button type="button" class="btn btn-primary-alt">Add Guest</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="color:#553895">
                        Guest Name
                    </th>
                    <th style="color:#553895">
                        Guest Email
                    </th>
                    <th style="color:#553895">
                        Invite Date
                    </th>
                    <th style="color:#553895">
                        Rsvp
                    </th>
                    <th style="color:#553895">
                        Rsvp Date
                    </th>
                    <th style="color:#553895">
                        Extra Guests
                    </th>
                    <th style="color:#553895">
                        &nbsp;
                    </th>
                </tr>
            </thead>
            @foreach (var g in Model)
            {
                <tr>
                    <td>
                        @g.Name
                    </td>
                    <td>
                        @g.Email
                    </td>
                    <td>
                        @g.InviteDate
                    </td>
                    <td>
                        @g.Rsvp
                    </td>
                    <td>
                        @g.RsvpDate
                    </td>
                    <td>
                        @g.ExtraGuests
                    </td>
                    <td style="text-align:center">
                        <button type="button" class="btn btn-primary-alt">Send Invite</button>
                    </td>
                </tr>}
        </table>
    </div>
</div>