﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes%7CRoboto:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/css/owl.theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/owl.transitions.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/magnific-popup.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/isotope.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/animate.css")" />

    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/responsive.css")" />

    <title>
        @ViewData["Title"]
    </title>
</head>
<body class="the-heart-default-body">
    <header class="the-heart-menu-and-logo-section" id="the-heart-menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="the-heart-logo">
                        <a href="#">
                            <img src="@Url.Content("~/images/logo-5.png")" alt="Erasmus Wedding">
                        </a>
                    </div>
                </div>
                <div class="menu-toggle">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <nav class="the-heart-main-meun">
                        <ul>
                            <li><a href="@Url.Action("Guest")">Guests</a></li>
                            <li><a href="#the-heart-welcome">Location</a></li>
                            <li><a href="@Url.Action("Song", "Home")">Songs</a></li>
                        </ul>
                    </nav> <!-- .the-heart-main-meun END -->
                </div>
            </div>
        </div>
    </header>
    <section  class="the-heart-introduction-section section-padding" >
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    <script type="text/javascript" src="@Url.Content("~/js/jquery-3.1.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.easing.1.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/admin.js")"></script>
</body>
</html>
