﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes%7CRoboto:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/css/owl.theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.transitions.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/magnific-popup.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/isotope.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.css")">
    @*<link rel="stylesheet" href="css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/css/animate.css")" />

    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/responsive.css")" />

    <title>
        @ViewData["Title"]
    </title>
</head>
<body class="the-heart-default-body">
    <header class="the-heart-menu-and-logo-section" id="the-heart-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="the-heart-logo">
                        <a href="#">
                            <img src="images/logo-5.png" alt="Erasmus Wedding">
                        </a>
                    </div>
                </div>
                <div class="menu-toggle">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <nav class="the-heart-main-meun">
                        <ul>
                            <li><a href="#the-heart-welcome">Home</a></li>
                            <li><a href="#the-heart-attending" id="rsvpMenu">RSVP</a></li>
                            <li><a href="#the-heart-bridemaid">Bridesmaids</a></li>
                            <li><a href="#the-heart-groomsman">Groomsmen</a></li>
                            <li><a href="#the-heart-wedding-jurnal">Location</a></li>
                            @*<li><a href="#tthe-heart-intro">About</a></li>
                                <li><a href="#the-heart-memoragble-days">Our Story</a></li>
                                <li><a href="#the-heart-gallery">Gallery</a></li>
                                <li><a href="#the-heart-wedding-jurnal">Blog</a></li>
                                <li><a href="#the-heart-gift-registry">Gift Resistry</a></li>*@
                        </ul>
                    </nav> <!-- .the-heart-main-meun END -->
                </div>
            </div>
        </div>
    </header> <!-- .the-heart-menu-and-logo-section END -->
    <section class="the-heart-welcome-section jarallax slider-version" id="the-heart-welcome">
        <div class="the-heart-welcome-floral-bg">
            <div class="the-heart-slider owl-carousel owl-theme">
                <div class="the-heart-single-slider" style="background-image: url(images/banner-image-1.jpg);"></div>
                <div class="the-heart-single-slider" style="background-image: url(images/banner-image-2.jpg);"></div>
                <div class="the-heart-single-slider" style="background-image: url(images/banner-image-3.jpg);"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="the-heart-welcome-tbl-c">
                        <div class="the-heart-welcome-content">
                            <div class="wow fadeInUp" data-wow-duration="2s">
                                <h1>Candice & Fredrik</h1>
                                <h4>Getting Married</h4>
                                <div class="the-heart-floral-txt">
                                    <h3>22 September 2018</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="the-heart-date-couuntdown">
                <div class="wow fadeInUp" data-wow-duration="3s">
                    <div id="heart_countdown">
                        <div class="the-heart-timer-single">
                            <div class="the-heart-single-counter the-heart-timer">
                                <div class="dash days_dash">
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <h3>Days</h3>
                                </div>
                            </div>
                        </div>
                        <div class="the-heart-timer-single">
                            <div class="the-heart-single-counter the-heart-timer">
                                <div class="dash hours_dash">
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <h3>Hours</h3>
                                </div>
                            </div>
                        </div>
                        <div class="the-heart-timer-single">
                            <div class="the-heart-single-counter the-heart-timer">
                                <div class="dash minutes_dash">
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <h3>Minutes</h3>
                                </div>
                            </div>
                        </div>
                        <div class="the-heart-timer-single">
                            <div class="the-heart-single-counter the-heart-timer">
                                <div class="dash seconds_dash">
                                    <div class="digit">0</div>
                                    <div class="digit">0</div>
                                    <h3>Seconds</h3>
                                </div>
                            </div>
                        </div>
                    </div> <!-- #heart_countdown END -->
                </div>
            </div> <!-- .the-heart-date-couuntdown END -->
        </div>
    </section>
    <!-- .the-heart-welcome-floral-bg END -->
    @RenderBody()
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="@Url.Content("~/js/jquery-3.1.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.easing.1.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/isotope.pkgd.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.magnific-popup.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/jquery.lwtCountdown-1.0.js")"></script>
    <script src="@Url.Content("~/js/wow.min.js")"></script>
    <!-- header jarallax -->
    <script src="@Url.Content("~/js/jarallax.js")"></script>
    <script src="@Url.Content("~/js/jarallax-element.js")"></script>
    <script src="@Url.Content("~/js/jarallax-video.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>
</body>
</html>
